/*Style */
body{
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    line-height: 1.43;
    color: #1d1d1d;
    background-color: #fff;
    overflow-x: hidden;
    box-sizing: content-box; 
    margin: 0;   
}
h1{font-size: 1.2em;}

.bouton_recherche ::placeholder {
    color: #1d1d1d;
    font-weight: 800;
    font-family: 'Raleway', sans-serif; 
    padding-left: 5px;
  }
a, a:visited{
    text-decoration: none;
    color: inherit;
}
.nav-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.inscription
{
    color: #0065FC;
    justify-content: space-between;
    font-weight: 800;
}
.navigation
{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.navigation ul
{
    display: flex;
    list-style-type: none;
}
.navigation li
{
    margin-right: 1rem;
} 
.navigation li a, a:visited
{
    text-decoration: none;
   
}

a.active{color: #0065FC;font-weight: 800;
    border-top: 2px solid;
    padding-top: 1.7rem;
}
a:hover{
    color:#0065FC
}

/*Formulaire de recherche */
.bouton_recherche {
    display: flex;
    width: 350px;
}
.bouton_recherche div
{

    background-color: rgb(236, 236, 236);
    padding: 8px 15px;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid rgb(236, 236, 236) !important;
}
.bouton_recherche div i
{
    color: #1d1d1d;
    width: 100%;
}

.bouton_recherche input {
    width: 100%;
    border-top: 1px solid #DDDDDD !important;
    border-bottom: 1px solid #DDDDDD !important;
    border-right: none;
    border-left: none;
}
.bouton_recherche button
{
    width: 50%;
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 7px 7px 0px;
}
.bouton_recherche .loop
{
 display: none;
}
/* Style des filtres */
.filtres h5
{
    margin-right: 10px;
}
section.filtres
{
    display: flex;
    width: 80%;
    font-weight: 800;
    flex-wrap: wrap;
}


.filtres > div
{
    display: flex;
    border-radius: 30px;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-right: 30px;
    align-items: center;
    height: 41px;
}
.filtres > div > i
{
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 30px;
    padding: 11px;
    color: #0065FC;
}
.filtres > div > i:hover
{
    background-color: #F2F2F2;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    padding: 11px;
    color: rgb(59, 59, 59);
}
.filtres div:nth-child(0n+3) > i
{
    padding: 11px 13px;
}

.filtres p {
    margin: 0px 17px;
}


.hebergements
{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.logements
{
    display: flex;
    align-items: center;
    margin: 0px 30px;
}
.logements h4{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.titrage_populaire
{
    display: flex;
    justify-content: space-between;
}
.titrage_populaire img
{
    width: 30px;
    height: auto;
}

.logements img{
    width: 40px;
    height: 40px;}

.recherche_hebergement, .filtres
{
    margin: 30px;
}
/* Hebergements à Marseille*/
.hebergements > div
{   
    background-color: #F2F2F2;
    border-radius: 20px;
 
}
.hebergements > div:first-child
{   
    width: 65%;
 
}
.hebergements > div > h2, .voirplus{
    padding: 20px 0 0px 30px;
}

.contenaire_hebergement{
    width: 70%;
    padding: 34px;
}
.contenaire_hebergement_populaire{
        width: 25%;
    padding: 34px;
}
.hebergement_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hebergements_banniere
{
    display: block;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.hebergements_banniere img
{
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 120px;
}
.carte h3, .carte p, .carte .rank
{
    padding-left: 10px;
}
.carte h3, .carte p
{
    margin: 0;
}

 .rank{

    color: #dbdbdb;
}
.contenu_populaire .rank {
    position: absolute;
    bottom: 20px;
}
.rank .active
{
    color: #0065FC;
}
/** Les plus populaires **/


.carte {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 11px #e7e7e7;
    padding: 5px;
    width: 27%;
    margin-bottom: 20px;
}
.contenaire_hebergement_populaire .carte {
    width: 100%;
    display: flex;
    margin: 20px auto;
    position: relative;
}
.contenu_populaire
{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 4px 10px;
}


.contenaire_hebergement_populaire .hebergements_banniere
{
    display: flex;
    width: 40%;
    border-radius: 20px 20px 0 0;
}
.contenaire_hebergement_populaire .hebergements_banniere img
{
    width: 100%;
    border-radius: 20px 2px 0 20px;
    object-fit: cover;
    height: 150px;
}



/*** Activités ***/
.activite
{
    margin: 30px 30px;
   
    border-radius: 20px;
    padding: 34px;
}
.contenaire_activites
{
    display: flex;
}
.carte_one_colonne
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 11px #e7e7e7;
    width: 30%;
    margin-bottom: 20px;
 
}
.carte_one_colonne div
{

    height: 300px!important;
    padding-bottom:20px;
}
.carte_one_colonne .hebergements_banniere img
{

    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 320px;
}

.carte_one_colonne, .two-column 
{

    margin: 0 20px;
}
.carte_two_rows
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 11px #e7e7e7;

    width: 100%;
        
}


.pomegues {
    background-image: url(images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.contenaire_activites .hebergements_banniere {
    display: block;
    background-color: black;
    width: 100%;
    height: 119px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position-y: 42%;
    font-weight: 800;
}
.contenaire_activites  p {

    font-weight: 800;
    padding-left: 20px;
}

.two-column
{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

footer
{
    padding: 20px 0px 0px 20px;
    background-color: #F2F2F2;
}

footer
{
    display: flex;
    justify-content: space-around;
}
footer ul
{
    list-style-type: none;
    
}
footer ul li:first-child {
    font-weight: 800;
    margin-bottom: 20px;
}
footer ul li {
 
    margin-bottom: 10px;
}
footer ul li >a
{
    text-decoration: none;
    color: #1d1d1d;    
}


@media (max-width: 950px) {
    .navigation {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        justify-content: flex-end;
        margin-right: 30px;
    }
    .hebergements {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .contenaire_hebergement
     {
        margin: auto;
        
    }
    .contenaire_hebergement_populaire
     {
        width: 60%;
        padding: 34px;
        margin: 30px auto;
    }

    .contenaire_hebergement {
        width: 80%;
        padding: 34px;
    }
    .contenaire_hebergement_populaire {
        width: 80%;
        padding: 34px;
        margin: 30px auto;
    }
    .carte_two_rows
    {
        margin-bottom: 30px;
    }
    .hebergements > div {
        margin: 20px 30px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }
    .contenaire_hebergement_populaire {
        width: 82%;
        padding: 34px;
        margin: 30px auto;
    }

}
@media (max-width: 800px) {
    .carte_one_colonne {
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 11px #e7e7e7;
        width: 100%;
        margin-bottom: 20px;
    }
    .contenaire_activites {
        display: flex;
        flex-direction:
         column;
    }
    .two-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
}
@media (max-width: 500px) {


    body {width: 100%;}

    /** Navigation  mobile **/
    .nav-top {
        display: block;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .navigation {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .navigation nav {
        display: block;
    }
    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        width: 100vw;
    }
    .navigation li {
        margin-right: 0;
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }
    .navigation li:first-child {
        border-bottom: 3px solid #0065FC}
    .inscription {
        color: #0065FC;
        justify-content: space-between;
        font-weight: 800;
        position: absolute;
        top: 20px;
        right: 10px;
    }


    .navigation a.active {
        border:none
    }

    .bouton_recherche {
        display: flex;
        width: 100%;
    }

    section.filtres {
        display: flex;
        width: 80%;
        flex-direction: column;
        font-weight: 800;
        flex-wrap: wrap;
    }

    .filtres > div {
        display: flex;
        border-radius: 30px;
        border-top: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        margin-right: 30px;
        align-items: center;
        height: 41px;
        margin-top: 10px;
    }
    /** Style global **/

.carte {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 11px #e7e7e7;
    padding: 5px 5px 14px 5px;
    width: 90%;
    margin: 10px auto;
}

.hebergements > div {
    margin: 0px;
    background-color: #F2F2F2;
    border-radius: 0;
}


.contenaire_hebergement_populaire .hebergements_banniere img {
    width: 100%;
    border-radius: 20px 2px 0 20px;
    object-fit: cover;
    height: 110px;
}
    .carte_one_colonne, .carte_two_rows {
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 11px #e7e7e7;
        padding: 5px;
        width: 100%;
        margin-bottom: 20px;
        margin: 0;
    }
    .contenaire_hebergement, .contenaire_hebergement_populaire {
        width: 100%;
        margin: 0px;
        background-color: #F2F2F2;
        border-radius: 0px;
        padding: 0px;
        
    }
    .hebergement_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .activite {
        margin: 0px;
        background-color: #fff;
        border-radius: 0px;
        padding: 10px;
    }

    .carte_one_colonne, .carte_two_rows {
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 11px #e7e7e7;
        width: 100%;
        margin-bottom: 20px;

    }
    .carte_one_colonne div {
        padding-bottom: 20px;
        height: 134px!important;
    }
    .two-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    
    .contenaire_hebergement_populaire h2 {
        padding-left: 30px;
        font-size: 18px;
    }
    .contenaire_hebergement_populaire .carte {
        width: 90%;
        display: flex;
        margin: 20px auto;
        padding: 3px;
    }
    .contenu_populaire .rank {
        position: absolute;
        bottom: 4px;
    }
    .hebergements {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .bouton_recherche {
        display: flex;
        width: 90%;
    }
    .bouton_recherche .loop {
        width: 9%;
        border: none;
        background-color: #0065FC;
        color: white;
        border-radius: 7px;
        display: block;
        position: relative;
        right: 9px;
    }
    .bouton_recherche .loop i
    {

        color: white;

    }
    .bouton_recherche button {
        width: 50%;

        display: none;
    }
    .carte_one_colonne .hebergements_banniere img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        height: 160px;
    }  
    footer {
        display: flex;
        justify-content: space-around;
        padding: 30px 0px;
        flex-direction: column;
    }

}